# Copier ce fichier vers .env puis remplacer les valeurs.
SERVER1_ANSIBLE_USER=your_server_user
SERVER1_ANSIBLE_PASSWORD=your_server_password
BACKUP_SERVER_ANSIBLE_USER=your_backup_user
BACKUP_SERVER_ANSIBLE_PASSWORD=your_backup_password
