# Copier ce fichier vers .env puis remplacer les valeurs.
MANAGED_SERVERS_ANSIBLE_USER=your_managed_servers_user
MANAGED_SERVERS_ANSIBLE_PASSWORD=your_managed_servers_password
BACKUP_SERVERS_ANSIBLE_USER=your_backup_servers_user
BACKUP_SERVERS_ANSIBLE_PASSWORD=your_backup_servers_password
SSH_PUBLIC_KEY_PATH=/home/your_user/.ssh/id_ed25519.pub
